body, html {
    background-color: #f6133d;
    color: white;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    padding-bottom: 2em;
}

.content {
    margin: auto;
    width: 60%;
}

h1 {
    font-family: 'Lobster', cursive;
    font-size: 48px;
    font-weight: 400;
    margin-bottom: 0;
    letter-spacing: 0.02em;
}

h2 {
    font-size: 26px;
    letter-spacing: 0.06em;
    font-weight: 400;
}

p {
    color: rgba(255, 255, 255, 0.8);
    line-height: 1.4em;
}

/* Highlight the icon over which the cursor is hovering by reducing the opacity of the others. The ordering of these
   matters, so remember to test before moving things around.
*/
.social-icons:hover a {
    color: rgba(255, 255, 255, 0.5);
}

.social-icons a {
    margin: 0 5px;
    color: unset;
}

.social-icons a:visited {
    text-decoration: none;
    color: unset;
}

.social-icons a:hover {
    color: rgba(255, 255, 255, 1);
}

a.button {
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    background: white;
    color: #222;
    text-decoration: none;
    padding-top: 1em;
    padding-right: calc(1.44em - .1em);
    padding-bottom: 1em;
    padding-left: 1.44em;
}

.links {
    margin-top: 2em;
}

@media only screen and (max-width: 768px) {
    .content {
        width: 90%;
    }

    h2 {
        font-size: 22px;
        letter-spacing: 0.02em;
    }
}

#slideshow {
    position: relative;
    width: 220px;
    height: 220px;

}

#slideshow > div {
    position: absolute;
    top: 10px;
    left: 10px;
    right: 10px;
    bottom: 10px;
}

.circle {
    border-radius: 50%;
    width: 220px;
    height: 220px;
}
